@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<div><a class="signUp" href="/Accounts/SignUp">Sign Up</a> if you don't have an account</div>
<div><a class="logIn" href="/Accounts/LogIn">Log in</a> if you already have an account</div>

