@{
    ViewBag.Title = "Index";
}

<h2>Welcome!</h2>
<div><a href="/Register/SignUp">Sign Up</a> if you don't have an account</div>
<div><a href="/Register/LogIn">Log in</a> if you already have an account</div>