@model AspNet.Models.Doctor
@{
    ViewBag.Title = "Index";
}

@{
    string fn = Model.Account.FirstName + " " + Model.Account.LastName;
}

<h2>Index</h2>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<p>Hello, Dr. @Html.ActionLink(fn, "Details", new { id = Model.Id }, new { @class = "doctorItem" })</p>

<p>If you want to EXIT click @Html.ActionLink("Here", "Index", "Accounts")</p>



@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cashe: false });
            $(".doctorItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
