
@{
    ViewBag.Title = "Index";
}

<h2>Ajax Index</h2>
@using (Ajax.BeginForm("MovieSearch", new AjaxOptions { UpdateTargetId = "results" }))
{
    <input type="text" name="name" />
    <input type="submit" value="Find" />
}
<div id="results">

</div>

<div id="favorite">
    @Ajax.ActionLink("Favorite Movie", "FavoriteMovie", new AjaxOptions { UpdateTargetId="favorite"})
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
